# Ignore jetbrains metadata
/.idea
/*/.idea

# Ignore cmake metadata
/cmake-build-debug

# Ignore python metadata
/*/__pycache__

# Ignore obsidian metadata
/.obsidian
/*/.obsidian

# Buildfiles
/build
/sklearn/data

# Dependencies
/lib
/include
