# The following is to ignore executables
# TODO use an output directory instead
# Ingore all
*
# Unignore all with extensions
!*.*
# Unignore all directories
!*/

/.idea
/*/.idea

/cmake-build-debug
/.obsidian

# Buildfiles
/build
/sklearn/data
