numpy~=2.1.3

# tensorflow libraries
tensorflow~=2.19.0
tf_keras~=2.19.0
tf2onnx~=1.16.1

# onnx libraries
onnx~=1.17.0
onnxruntime~=1.21.0
onnxconverter-common~=1.14.0

# sklearn libraries
scikit-learn~=1.6.1
skl2onnx~=1.18.0
